encryption = "age"
[age]
    identity = "~/key.txt"
    recipient = "age193wd0hfuhtjfsunlq3c83s8m93pde442dkcn7lmj3lspeekm9g7stwutrl"
[edit]
    command = "nvim"
[data]
    git_name = "alanssitis"
    git_email = "alanchunggt@gmail.com"
