encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1atf6xqt6srzfthw0dxerevwj36jk6up4qze06ga3hu34gnxea3qqyesxvt"
[edit]
    command = "nvim"
[data]
    git_name = "alanssitis"
    git_email = "alanchunggt@gmail.com"
