[user]
    name = {{ .git_name | quote }}
    email = {{ .git_email | quote }}
    signingkey = 0C7DB463DEB22F3F
[init]
    defaultBranch = main
[pull]
    rebase = true
[color]
    ui = auto
[gpg]
    program = gpg2
[core]
    editor = nvim
