/* vim:set ts=2 sw=2 et */

@define-color rosewater #f4dbd6;
@define-color flamingo #f0c6c6;
@define-color pink #f5bde6;
@define-color mauve #c6a0f6;
@define-color red #ed8796;
@define-color maroon #ee99a0;
@define-color peach #f5a97f;
@define-color yellow #eed49f;
@define-color green #a6da95;
@define-color teal #8bd5ca;
@define-color sky #91d7e3;
@define-color sapphire #7dc4e4;
@define-color blue #8aadf4;
@define-color lavender #b7bdf8;
@define-color text #cad3f5;
@define-color subtext1 #b8c0e0;
@define-color subtext0 #a5adcb;
@define-color overlay2 #939ab7;
@define-color overlay1 #8087a2;
@define-color overlay0 #6e738d;
@define-color surface2 #5b6078;
@define-color surface1 #494d64;
@define-color surface0 #363a4f;
@define-color base #24273a;
@define-color mantle #1e2030;
@define-color crust #181926;

window {
	margin: 0px;
	border: 1px solid @mauve;
	border-radius: 4px;
	background-color: @base;
}

#input {
	margin: 4px;
	border: 1px solid @mauve;
	border-radius: 4px;
	color: @text;
	background-color: @mantle;
}

#inner-box {
	margin: 4px;
	border: none;
	background-color: @base;
}

#outer-box {
	margin: 4px;
	border: none;
	background-color: @base;
}

#scroll {
	margin: 2px;
	border: none;
}

#text {
	margin: 4px;
	border: none;
	color: @text;
}

.entry {
	color: @text;
}

#entry arrow {
	color: @green;
}

#entry:selected {
	border-radius: 4px;
	background-color: @overlay0;
}

expander > list > #entry {
	background-color: @base;
}
